@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "mixin";
@import "variables";
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.container{
  width: 1140px;
  margin: 0 auto;
}
button{
  transition: .4s;
  border: none;
  cursor: pointer;
}

body{
  font-family: "Monserrat", sans-serif;
  background: black;
  min-height: 100vh;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: transparent;
    display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  height: 700px;
}
.img-1{
  position: absolute;
  z-index: 1;
  padding-bottom: 350px;
}
