@import "global";

#header{
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  .navbar{
    display: flex;
    align-items: center;
    &--nav{
      padding-left: 27px;
      a {
        font-weight: 400;
        font-size: 18px;
        color: white;
        padding: 0 27px;
      }
    }
  }
}

#hero{
  background: url("/img/hero.png") no-repeat center/cover;
  min-height: 100vh;
  .hero{
    padding-top: 200px;
    h1{
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;
      width: 535px;
      span{
        color: orange;
      }
    }
    p{
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      width: 378px;
      padding: 39px 0 80px 0;
      span{
        color: orange;
      }
    }
    &--btn{
      display: flex;
      &__button-1{
        background: #FF9900;
        border-radius: 60px 0 0 60px;
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        ion-icon{
          font-size: 25px;
          padding-left: 15px;
        }
      }
      &__button-2{
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
        background: transparent;
        border:  2px solid #FF9900;
        border-radius: 0 60px 60px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        ion-icon{
          font-size: 25px;
          padding-left: 15px;
        }
      }
    }
  }
}
